.logo__svg {
	width: clamp(30px, calc(var(--index) * 2), 70px);
	height: clamp(30px, calc(var(--index) * 2), 70px);
	fill: var(--black-color);
	stroke: var(--black-color);
}
.telegram__layout__header__svg {
	stroke: var(--main-color);
	fill: var(--main-color);
}
