* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'regular2';
	color: var(--black-color);
}

*::selection {
	background-color: var(--main-color);
	color: var(--black-color);
}

:root {
	--index: calc(1vh + 1vw);
	--inner: -1;
	--text-size: clamp(11px, calc(var(--index) * 0.55), 20px);

	--main-color: #ff741f;
	--main-color-hover: #db5e11;
	--black-color: #141414;
	--static-black: #141414;
	--black-color-rgba: rgba(0, 0, 0, 0.1);
	--light-color-rgba: rgba(255, 255, 255, 0.1);
	--light-color: #e1e1e1;
	--static-light: #e1e1e1;
	--gradient: linear-gradient(
		135deg,
		rgba(237, 82, 1, 1) 0%,
		rgba(255, 116, 31, 1) 100%
	);
	--gradient-hover: linear-gradient(
		135deg,
		rgba(237, 82, 1, 0.85) 0%,
		rgba(255, 116, 31, 0.85) 100%
	);

	--light-gradient: linear-gradient(
		135deg,
		rgba(255, 255, 255, 0.1) 0%,
		rgba(255, 254, 254, 0.005) 100%
	);
	--black-gradient: linear-gradient(
		135deg,
		rgba(0, 0, 0, 0.1) 0%,
		rgba(0, 0, 0, 0.005) 100%
	);
}

body {
	padding: 0 4%;
	display: grid;
	grid-template-columns: 1fr;
}

h1,
h2 {
	font-family: 'bold1';
}

.grid {
	border: 1px solid #000;
}

.default__title__size {
	font-size: clamp(24px, calc(var(--index) * 2), 50px);
}

/* ____BOLD FONTS____ */

@font-face {
	font-family: 'bold1';
	src: url('./assets/fonts/Bold/Unbounded-Regular.woff');
}

@font-face {
	font-family: 'bold2';
	src: url('./assets/fonts/Bold/Unbounded-Medium.woff');
}

@font-face {
	font-family: 'bold3';
	src: url('./assets/fonts/Bold/Unbounded-Bold.woff');
}

@font-face {
	font-family: 'bold4';
	src: url('./assets/fonts/Bold/Unbounded-Black.woff');
}

/* ____REGULAR FONTS____ */

@font-face {
	font-family: 'regular1';
	src: url('./assets/fonts/Regular/AA-Stetica-Light.woff');
}

@font-face {
	font-family: 'regular2';
	src: url('./assets/fonts/Regular/AA-Stetica-Regular.woff');
}

@font-face {
	font-family: 'regular3';
	src: url('./assets/fonts/Regular/AA-Stetica-Medium.woff');
}

@font-face {
	font-family: 'regular4';
	src: url('./assets/fonts/Regular/TikTokSans-VF-v3.3.woff');
}

@media (max-width: 1590px) {
	body {
		padding: 0;
	}
}
