.navigation_links {
	display: flex;
}

.navigation_links ul {
	display: flex;
	gap: calc(var(--index) * 1.5);
}

.navigation_links ul li {
	list-style: none;
	position: relative;
	display: block;
	color: var(--light-color);

	&:hover::after {
		width: 100%;
		transition: all ease 0.2s;
	}
}

.navigation_links ul li::after {
	content: '';
	width: 0%;
	height: 2px;
	background: var(--light-color);
	display: block;
	position: absolute;
	bottom: -2px;
	left: 0;
	border-radius: 2px;
	transition: all ease 0.4s;
}

.navigation_links ul li a {
	text-decoration: none;
	color: var(--light-color);
	font-size: clamp(14px, calc(var(--index) * 0.5), 17px);
	font-family: 'bold1';
}
